section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 10px;
}

header.masthead1 {
  position: relative;
  background-color: #343a40;
  background: url("../images/bg-masthead.png") no-repeat center center;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

header.masthead1 .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}

header.masthead1 h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead1 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead1 h1 {
    font-size: 3rem;
  }
}
